* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}
p {
    margin-bottom: 10px;
    font-size: 1rem;
}
.main {
    max-width: 1124px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 5px;
    background: lightgray;
}
.text-area {
    /* width === textArea.cols in js */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background: #fff3f3;
    border-radius: 5px;
    padding: 10px;
    caret-color: red;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0;
}

button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 30px;
    font-weight: 500;
    background: #fff3f3;
    box-shadow: 3px 3px 3px #999;
    cursor: pointer;
}

button::before {
    content: var(--before-content);
}

button:hover {
    background-color: #dcdddc;
    transform: scale(1.02);
}

button:active {
    background-color: #dcdddc;
    box-shadow: 1px 1px 1px #666;
    transform: translate(1px, 1px);
}

.active {
    background-color: #dcdddc;
    box-shadow: 1px 1px 1px #666;
    transform: translate(1px, 1px);
}

#Backspace,
#ShiftLeft,
#ShiftRight,
#ControlLeft,
#AltLeft,
#AltRight,
#ControlRight,
#Tab,
#Delete,
#Win,
#Space,
#CapsLock,
#Enter {
    font-size: 15px;
    font-weight: 800;
}

#Backspace {
    width: 120px;
}
#ShiftLeft {
    width: 160px;
}

#ControlLeft,
#AltLeft,
#AltRight,
#ControlRight,
#Tab,
#Delete,
#ShiftRight {
    width: 70px;
}

#Space {
    width: 450px;
}

#CapsLock {
    width: 100px;
}

#Enter {
    width: 140px;
}

.greenRound,
.orangeRound {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: rgb(207, 207, 207);
}

#ShiftLeft:active .greenRound,
.green {
    background-color: rgb(5, 177, 5);
}
#CapsLock:active .orangeRound,
.orange {
    background-color: rgb(252, 96, 39);
}
